body{
    height: 90vh;
    margin:0;
    background-image: linear-gradient(to right, lightblue, lightpink);
}
.floating-image{
    
    position: absolute;
    top: 200px;
    
    right: 20px;
    width: 400px;
    height: auto;
    z-index: 10;
    border-radius: 20px;
}
.floating-text{ 
    position: absolute;
    top: 300px;
    left: 20px;
    font-size: 100px;
    font-weight: bold;
    color:  #14025f;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.floating-text1{
    position: absolute;
    top: 200px;
    left: 20px;
    font-size: 100px;
    font-weight: bold;
    color:  black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.button-container{
    position: relative;
    right: 20px;
    top:40px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    column-gap: 20px;
    
}
.button-container button{
   
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background: none;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button-container button:hover{
    background-color: #3a0fba;
}
